.cabecera__container{ /* siempre le hacemos flexbox a la etiqueta padre */
    display: flex; /* hacemos el contenido flexbox */
    justify-content: space-between; /* les damos espaciado a los items entre ellos */
    align-items: center; /* aliniamos los items al centro */
    position: fixed; /* dejamos fijos los items para que no desaparezcan */
    top: 0; /* posicion donde queremos dejar fijos los items */

}
.cabecera__buscar__item{
    display: none; /* desaparecemos el item */

}

.menu__container{
    position: fixed;
    bottom: 0;
    height: 75px; /* ajustamos el tamaño de la altura */
    width: 100%; /* ajustamos el tamaño del ancho */

}

.menu__lista{
    display: flex;
    justify-content: space-around;/* asignar espacio entre cada elemento entre ellos */
    height: 100%;
}

.menu__lista li {
    align-self: center;

}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}




.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;  /* denegamos el espaciado del texto que se divide y lo dejamos en una sola linea */  
    overflow: scroll; /* añadimos una barra para desplazar esa area */
    gap: 15px; /* agregamos un espacio entre los elementos */
}

.rodapie__container{
    display: flex;
    /*flex-direction: column; aplicamos elementos en una sola columna 
     flex-wrap: wrap;  quibran los elementos para que se ajusten al flex en modo de columnas*/ 
     flex-flow: column wrap; /* Las dos funciones de arriba pero resumidas */
}

@media (min-width:834px){ /* media query ayuda a implementar elementos dentro de el cuando el valor en los parentesis se cumpla*/
    
    .cabecera__buscar__item{
        display: block;
    
    }

    .rodapie__container{
        justify-content: space-between;
    }
}   

